{% load avatar %}

{% if user.is_authenticated and user != post.owner %}
<div class="">
  <form action={% url 'blog:comment_create' post.id %}>
    <input type="hidden" name="page" value="{{request.GET.page}}">
    <input type="hidden" name="category" value="{{request.GET.category}}">
    <input type="hidden" name="keyword" value="{{request.GET.keyword}}">
    <textarea class="form-control" style="height:100px" required="required"></textarea>
    <div class="my-1 d-flex align-items-center justify-content-between">
      <div>
        {% avatar user %}
      </div>
      <button type="submit" class="btn btn-outline-secondary py-0">
        <i class="fas fa-check"></i>
        등록
      </button>
    </div>
  </form>
</div>
{% endif %}