{% load avatar %}

{% if user.is_authenticated and user != post.owner %}
<div class="">
  <div class="comment-panel bg-light p-2">
    <textarea id="comment-content" class="form-control" style="height:100px" required="required">테스트</textarea>
    <div class="my-1 d-flex align-items-center justify-content-between">
      <div>
        {% avatar user %}
      </div>
      <button type="button" class="btn btn-outline-secondary py-0" id="commentBtn">
        <i class="fas fa-check"></i>
        등록
      </button>
    </div>
  </div>

  <div class="comment-list"></div>
</div>
{% endif %}
