{% extends "base.html" %}
{% load static %}

{% block content %}
  <h1>
    <i class="fas fa-user-gear"></i>
    회원 정보 보기</h1>

  <div class="d-flex mt-5">
    <div>
      {% if profile.avatar %}
        <img src="/media/{{profile.avatar}}" class="rounded-circle" width="100" height="100">
      {% else %}
        <img src="/media/avatar/unknown.png" class="rounded-circle" width="100" height="100">
      {% endif %}
    </div>
    <div class="ms-3">
      <p>사용자 ID</p>
      <p>{{profile.user_id}}</p>
    </div>
  </div>
  <table class="table mt-3">
    <tbody>
      <tr>
        <th style="width:100px">Email</th>
        <td>{{profile.email}}</td>
      </tr>
    </tbody>
  </table>
  <a href="{% url 'profile_edit' %}" class="btn btn-primary">
    <i class="fa-solid fa-pen-to-square"></i>
    수정</a>
  <a href="{% url 'password_change' %}" class="btn btn-primary">
    <i class="fas fa-lock"></i>
    비밀번호 변경</a>
{% endblock %}
